{% extends "base.html" %}

{% block head %}
{{ super() }}
    <title>{% block windowtitle %}{{ article.title }} - {{ SITENAME }}{% endblock %}</title>
{% endblock %}

{% block opengraph %}
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="Debian Project">
{% if article.image %}
    <meta property="og:image" content="https://bits.debian.org/{{ article.image }}">
{% else %}
    <meta property="og:image" content="https://www.debian.org/logos/openlogo-100.png">
{% endif %}
    <meta property="og:locale" content="{{ article.lang }}">
    <meta property="og:url" content="https://bits.debian.org/{{ article.url }}">
    <meta property="og:title" content="{{ article.title }}">
    <meta property="og:description" content="{{ article.content | striptags | e | truncate }}">
{% endblock %}

{% block content %}
    <div class='article' lang='{{ article.lang }}'>
        <div class="content-title">
            <h1>{{ article.title }}</h1>
            {% include "metadata.html" %}
        </div>

        <div>{{ article.content }}</div>

        <hr>
    </div>
{% endblock %}
